@charset "utf-8";
html,body{-webkit-user-select:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-touch-callout:none;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;box-sizing: border-box;}
body,button,input,select,textarea {font:14px \5b8b\4f53,'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif\"Microsoft YaHei;}
body{max-width: 750px;margin: 0 auto;background:#f8f8f8;color:#333;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*阻止旋转屏幕时自动调整字体大小*/
textarea{resize:none;}
input[type=button],input[type="radio"],input[type="checkbox"]{-webkit-appearance:none;outline:none}
/*placeholder 颜色 */
textarea::-webkit-input-placeholder{color:#9ca6aa;}
input::-webkit-input-placeholder{color: #9ca6aa;}
input::-moz-placeholder{color:#9ca6aa;}
input:-moz-placeholder{color:#9ca6aa;}
input:-ms-input-placeholder{color:#9ca6aa;}
input::-webkit-input-speech-button {display:none}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:inherit;}
fieldset,img,input {border:none;}
abbr,acronym {border:none;font-variant:normal;}
del {text-decoration:line-through;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ins,a,a:hover {text-decoration:none;}
a{color: inherit;}
a:focus,*:focus {outline:none;}

button{background: transparent;outline: none;border: none;color: inherit;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1;}
.clear {clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;}
.hide {display:none;}
.block {display:block;}
.iconfont{font-size: inherit;}
.clearfix { display:block; zoom:1; }
.clearfix::after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; }
.fl{ float: left;}
.fr{ float: right;}
.tl{ text-align: left;}
.tc{ text-align: center;}
.tr{ text-align: right;}
.iconfont{ font-size: inherit;}
.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}
.mr20{ margin-right: 20px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.mb5{ margin-bottom: 5px;}
.mb10{ margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom: 20px;}
.m10{ margin: 10px;}
.m15{ margin: 15px;}
.m20{ margin: 20px;}

.hidden { display: none; }

.delLine{ text-decoration: line-through;}
.floatBox{position:fixed; left: 0; top: 0; right: 0; bottom: 0;}
.floatBoxBg{background:rgba(0,0,0,0.5); display: none;}
.abs{position:absolute;}
.mid{ position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.flex,.flexC{ display: -webkit-box;display: -webkit-flex;  display: -ms-flexbox; display: flex;}
/* .flex,.flexC{ display: -webkit-box;display: -webkit-flex;  display: -ms-flexbox; display: flex; width: 100%;} */
.flex>.sub,.flexC>.sub{ -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden;}
.flexC{-webkit-flex-direction: column; flex-direction: column;}
.lineText,.lineText2,.lineText3{ overflow: hidden;text-overflow: ellipsis;}
.lineText2,.lineText3{ display: -webkit-box; -webkit-box-orient: vertical;box-orient: vertical;}
.lineText{ white-space: nowrap;}
.lineText2{ -webkit-line-clamp: 2;}
.lineText3{ -webkit-line-clamp: 3;}

.imgFill,.scaleRule{width: 100%;height: 100%;}
.scaleRule{position: absolute;top: 0;left: 0;}

img[mode="aspectFill"]{object-fit: cover;object-position: center;}
img[mode="aspectFit"]{object-fit: contain;object-position: center;}

button[mode="primary"]{background: #44B0EE;color: #fff;}
button[disabled]{background: #7f7f7f;color: #fff;}

input[type="radio"]{width: 20px;height: 20px;border-radius: 50%;border: 1px solid #E1E6E9;vertical-align: middle;}
input[type="radio"]:checked{border: 4px solid #44B0EE;position: relative;}
/*input[type="radio"]:checked:before{content: '';display: block;width: 10px;height: 10px;background: #44B0EE;border-radius:50%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}*/

input[type="checkbox"]{width: 20px;height: 20px;border-radius: 50%;border: 1px solid #E1E6E9;vertical-align: middle;}
input[type="checkbox"]:checked{border-color: #44B0EE;background: #44B0EE;position: relative;}
input[type="checkbox"]:checked:before{content: '✔';display: block;color: #fff;font-size: 12px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}